<%- include('../../partials/head.ejs') %>
<%- include('../../partials/nav.ejs') %>
<% const { urlPrefix } = formAttributes; %> 
<div class="create-page">
  <h2 class="create-page-title">Add a <%= mediaType === 'video' ? 'YouTube video' : 'Soundcloud track' %> to the site</h2>
  <div class="create-page-panel">
    <form action="/config/create-<%= mediaType %>" method="POST">
      <fieldset>
        <%- include('../../components/forms/title-input.ejs', { title: '' }) %>
        <%- include('../../components/forms/url-input.ejs', { url: '' }) %>
        <input type="hidden" id="urlPrefix" name="urlPrefix" value="<%= urlPrefix %>">
        <%- include('../../components/forms/form-submit.ejs', {
          sendMessage,
          submitButtonText: `Add ${mediaType}`,
        }) %>
      </fieldset>
    </form>
    <a class="mt-2" href="/config/manage-media?mediaType=<%= mediaType %>">Return to list</a>
  </div>
</div>
<%- include('../../partials/foot.ejs') %> 