<%- include('../../partials/head.ejs') %>
<%- include('../../partials/nav.ejs') %>
<div class="manage-page">
  <h2 class="manage-page-title">Manage admin users</h2>
  <p><a type="button" class="btn btn-primary" href="/config/create-admin">Add new admin</a></p>
  <div class="manage-page-panel">
    <div class="manage-page-panel__header">
      <p class="text-primary smaller-cell">First name</p>
      <p class="text-primary smaller-cell">Last name</p>
      <p class="text-primary">Email</p>
      <p class="text-danger action-button">Delete?</p>
    </div>
    <% adminUsers.forEach(({ firstName, lastName, email, _id }) => { %>
      <div class="manage-page-panel__item" id="<%= _id %>">
        <p class="smaller-cell"><%= firstName %></p>
        <p class="smaller-cell"><%= lastName %></p>
        <p><%= email %></p>
        <p class="action-button"><button type="button" class="btn btn-danger" onclick="updateIdAttr('<%= _id %>');">Delete</button></p>
      </div>
    <% }); %> 
  </div>
</div>
<%- include('../../components/modal.ejs', {
  modalTitle: 'Delete',
  modalText: `Are you sure you want to delete this user?`,
  modalTitle: 'Delete admin',
  deleteType: 'admin',
  action: 'delete',
}) %>
<%- include('../../partials/foot.ejs') %> 