<%- include('../../partials/head.ejs') %> 
<%- include('../../partials/nav.ejs') %> 
<% 
const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
%> 
<div class="manage-page">
  <h2 class="manage-page-title">Manage set schedule</h2>
  <p><a type="button" class="btn btn-primary" href="/config/create-schedule">Add new set</a></p>
  <div class="manage-page-panel">
    <div class="manage-page-panel__header">
      <p class="text-primary">Date</p>
      <p class="text-primary">Time</p>
      <p class="text-primary">DJ</p>
      <p class="text-danger action-button">Delete?</p>
    </div>
    <% schedules.forEach(({ date, time, dj, name, _id }) => { %>
      <% const [year, month, day] = date.split('-'); %> 
      <div class="manage-page-panel__item" id="<%= _id %>">
        <p><%= day %> <%= monthNames[+month - 1] %> <%= year %></p>
        <p><%= time %></p>
        <p><%= name %></p>
        <p class="action-button"><button type="submit" class="btn btn-danger" onclick="updateIdAttr('<%= _id %>');">Delete</button></p>
      </div>
    <% }); %> 
  </div>
</div>
<%- include('../../components/modal.ejs', {
  modalTitle: 'Delete',
  modalText: `Are you sure you want to delete this set?`,
  modalTitle: `Delete set`,
  deleteType: 'schedule',
  action: 'delete',
}) %>
<%- include('../../partials/foot.ejs') %> 