<%- include('../../partials/head.ejs') %> 
<%- include('../../partials/nav.ejs') %> 
<div class="videos">
  <h2 class="videos-title">Manage YouTube videos</h2>
  <div class="videos-panel">
    <div class="videos-panel__header">
      <p class="text-primary">Title</p>
      <p class="text-primary">URL</p>
      <p class="text-danger">Delete?</p>
    </div>
    <% videos.forEach(({ title, url }) => { %>
      <div class="videos-panel__video">
        <p><%= title %></p>
        <p><a href="<%= url %>" target="_blank"><%= url %></a></p>
        <p><button type="submit" class="btn btn-primary" onclick="updateFormValue('delete-video-url', '<%= url %>');">Delete</button></p>
      </div>
    <% }); %> 
  </div>
</div>
<%- include('../../components/forms/delete-item-form.ejs', {
  dataType: 'video',
  formValueType: 'url',
  sendMessage,
}) %>
<%- include('../../components/modal.ejs', {
  modalTitle: 'Delete',
  modalText: `Are you sure you want to delete this video?`,
  modalTitle: 'Delete video',
  formClass: 'delete-video-form',
}) %>
<%- include('../../partials/foot.ejs') %> 