<% const route = `/config/delete-${['video', 'track'].includes(dataType) ? 'media' : dataType}`; %>
<form class="invisible mt-2 delete-<%= dataType %>-form" action="<%= route %>" method="POST">
  <fieldset>
    <input class="delete-<%= dataType %>-<%= formValueType %>" type="hidden" id="<%= formValueType %>" name="<%= formValueType %>">
    <input type="hidden" id="deleteMediaType" name="mediaType" value="<%= dataType %>">
    <%- include('../../components/forms/form-submit.ejs', {
      sendMessage,
      submitButtonText: 'Delete',
    }) %>
  </fieldset>
</form>