<%- include('../../partials/head.ejs') %>
<% const { email, token } = formAttributes; %> 
<div class="reset-password">
  <div class="reset-password-panel">
    <img src="images/ttlf_0001.png" class="reset-password-img" />
    <form action="/reset-password" method="POST">
      <fieldset>
        <%- include('../../components/forms/email-input.ejs', { email, readOnly: true }) %>
        <%- include('../../components/forms/password.ejs') %>
        <%- include('../../components/forms/repeat-password.ejs') %>
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <%- include('../../components/forms/form-submit.ejs', {
          formMessage,
          submitButtonText: 'Reset password',
        }) %>
        <a class="text-center m-2" href="/login">Login?</a>
      </fieldset>
    </form>
  </div>
</div>
<%- include('../../partials/foot.ejs') %> 